<section class="home-section" id="home">
    <div class="container">
        <h1 class="home-title">True<br class="mob"/>
        Harbor Way:<br>
        Port Architect</h1>
        <p class="home-text">Think before you build, and don't rush the growth.</p>
        <p class="home-text-two">A quiet shoreline waits for structure.<br/>
        Small docks. Empty piers. Untouched coastline.<br />
        Your task is not rapid expansion —<br />
        but steady development.<br />
        Design a harbor that thrives.</p>
        <a class="home-link" href="#how">
            <p>Begin Building</p>
        </a>
    </div>
</section>